html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  width: 100%;
  font-family: "Inter", system-ui, sans-serif;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
}

#root {
  width: 100%;
}