* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  min-height: 100%;
  font-family: "Inter", system-ui, sans-serif;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
  isolation: isolate;
  z-index: 0;
}