:root {
  --primary: #2563eb;
  --primary-light: #dbeafe;

  --bg-app: #f9fafb;
  --bg-panel: #ffffff;
  --bg-card: #ffffff;

  --text-main: #111827;
  --text-muted: #6b7280;

  --border: #e5e7eb;

  --radius-sm: 8px;
  --radius-md: 12px;

  --shadow-sm: 0 1px 2px rgba(0,0,0,0.06);
  --shadow-md: 0 4px 12px rgba(0,0,0,0.08);
}
