* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  min-height: 100%;
  background-color: #111827; /* dark background */
  font-family: Arial, Helvetica, sans-serif;
}
